
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 60px; 
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e6f6fd;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
  width: 100%;
}
